@model SkyPlanner.Entities.Account

@{
    ViewData["Title"] = "Create Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Account</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-12">
            <label for="account-name" class="form-label">Name</label>
            <input type="text" class="form-control" id="account-name" placeholder="Name" required>
            <div class="invalid-feedback">
              Enter the account name
            </div>
          </div>
          <div class="col-md-12">
            <label for="account-phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="account-phone" placeholder="Phone" required>
            <div class="invalid-feedback">
              Please provide a phone
            </div>
          </div>
          <div class="col-md-12">
            <label for="account-street" class="form-label">Street</label>
            <input type="text" class="form-control" id="account-street" placeholder="Street" required>
            <div class="invalid-feedback">
              Please provide a valid street
            </div>
          </div>
          <div class="col-md-12">
            <label for="account-city" class="form-label">City</label>
            <input type="text" class="form-control" id="account-city" placeholder="City" required>
            <div class="invalid-feedback">
              Please provide a City
            </div>
          </div>
          <div class="col-md-12">
            <label for="account-state" class="form-label">State</label>
            <input type="text" class="form-control" id="account-state" placeholder="State" required>
            <div class="invalid-feedback">
              Please provide a state
            </div>
          </div>
          <div class="col-md-12">
            <label for="account-zip" class="form-label">Zip code</label>
            <input type="text" class="form-control" id="account-zip" placeholder="Zip code" required>
            <div class="invalid-feedback">
              Please provide a zip code
            </div>
          </div>
          <div class="col-12" style="text-align: right">
            <button class="btn btn-primary" type="submit">Create</button>
          </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to list", "Index")
</div>

@section Scripts {
 <script>
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
              }
              else {
                  event.preventDefault();
                  $.ajax({
                      type: "POST",
                      url: "/api/Account",
                      data: JSON.stringify({ 
                          name: $("#account-name").val(), 
                          phone: $("#account-phone").val(), 
                          street: $("#account-street").val(), 
                          city: $("#account-city").val(), 
                          state: $("#account-state").val(), 
                          zip: $("#account-zip").val() }),
                      contentType:"application/json; charset=utf-8",
                      success: function( data ) {  
                          console.log(data);
                          document.location.pathname = "/Accounts/Edit/" + data.accountId;
                      },
                      error: function(error) {     
                          alert(error && error.responseJSON ? error.responseJSON : "Error: Try again");
                          event.stopPropagation();
                      },
                      dataType: 'json'
                    });
              }
              form.classList.add('was-validated');

          }, false);
        });
      }, false);
    })();
</script>
}
