@model SkyPlanner.Entities.Account

@{
    ViewData["Title"] = "Account";
    ViewData["PluralTitle"] = "Accounts";
    ViewData["Icon"] = "/Content/icons/standard-sprite/svg/symbols.svg#account";
    ViewData["Description"] = "Edit Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Id = ViewBag.Id;
}
@section GlobalActions {
    <button class="slds-button slds-button_neutral" onclick="document.location.href = '/Orders/Create/@Id'">New Order</button>
    <button class="slds-button slds-button_neutral" onclick="document.location.href = '/Accounts/CreateContact/@Id'">New Contact</button>
    @*<button type="button" class="slds-button slds-button_brand" onclick="save()">Save</button>*@
}

@section SectionIcon {
    <span class="slds-icon_container slds-icon-standard-account" title="Account">
          <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xlink:href="/Content/icons/standard-sprite/svg/symbols.svg#account"></use>
          </svg>
          <span class="slds-assistive-text">Account</span>
    </span>
}
<div class="stage-main slds-grid slds-wrap slds-grow slds-scrollable--y" role="main"> 
    <div class="slds-grow slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12 slds-col-rule--right slds-p-around--large">
        <fieldset class="slds-form-element slds-form-element_compound">
            <div class="slds-form-element__control">
                <div class="slds-form-element__row">
                    <div class="slds-size_1-of-1">
                        <div class="slds-form-element" id="account-name-form-element">
                          <label class="slds-form-element__label" for="account-name">
                            <abbr class="slds-required" title="required">* </abbr>Name</label>
                          <div class="slds-form-element__control">
                            <input type="text" id="account-name" placeholder="Name" required class="slds-input" />
                          </div>
                        </div>
                    </div>
                </div> 
                <div class="slds-form-element__row">
                    <div class="slds-size_1-of-1">
                        <div class="slds-form-element" id="account-street-form-element">
                          <label class="slds-form-element__label" for="account-street">
                            <abbr class="slds-required" title="required">* </abbr>Street</label>
                          <div class="slds-form-element__control">
                            <input type="text" id="account-street" placeholder="Street" required class="slds-input" />
                          </div>
                        </div>
                      </div>
                </div>
                <div class="slds-form-element__row">
                    <div class="slds-size_1-of-2">
                        <div class="slds-form-element" id="account-city-form-element">
                          <label class="slds-form-element__label" for="account-city">
                            <abbr class="slds-required" title="required">* </abbr>City</label>
                          <div class="slds-form-element__control">
                            <input type="text" id="account-city" placeholder="City" required class="slds-input" />
                          </div>
                        </div>
                     </div>
                     <div class="slds-size_1-of-2">
                        <div class="slds-form-element" id="account-state-form-element">
                          <label class="slds-form-element__label" for="account-state">
                            <abbr class="slds-required" title="required">* </abbr>State</label>
                          <div class="slds-form-element__control">
                            <input type="text" id="account-state" placeholder="State" required class="slds-input" />
                          </div>
                        </div>
                     </div>
                </div>
                <div class="slds-form-element__row">
                    <div class="slds-size_1-of-2">
                        <div class="slds-form-element" id="account-zip-form-element">
                          <label class="slds-form-element__label" for="account-zip">
                            <abbr class="slds-required" title="required">* </abbr>Zip</label>
                          <div class="slds-form-element__control">
                            <input type="text" id="account-zip" placeholder="Zip" required class="slds-input" />
                          </div>
                        </div>
                     </div>
                     <div class="slds-size_1-of-2">
                        <div class="slds-form-element" id="account-phone-form-element">
                          <label class="slds-form-element__label" for="account-phone">
                            <abbr class="slds-required" title="required">* </abbr>Phone</label>
                          <div class="slds-form-element__control">
                            <input type="text" id="account-phone" placeholder="Phone" required class="slds-input" />
                          </div>
                        </div>
                     </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="slds-grow slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--6-of-12 slds-col-rule--right slds-p-around--large">
        <h2 class="slds-card__header-title">Contact list</h2>
        <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered" aria-label="Account list">
            <thead>
                <tr class="slds-line-height_reset">
                  <th class="" scope="col">
                    <div class="slds-truncate" title="Name">Name</div>
                  </th>
                  <th class="" scope="col">
                    <div class="slds-truncate" title="Phone">Phone</div>
                  </th>
                  <th class="slds-cell_action-mode" scope="col" style="width:3.25rem">
                    <div class="slds-truncate slds-assistive-text" title="Actions">Actions</div>
                  </th>
                </tr>
            </thead>
            <tbody id="contacts-table">
            </tbody>
        </table>
        <div class="slds-scoped-notification slds-media slds-media_center slds-scoped-notification_light " role="status" id="contact-notification">
          <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-utility-info" title="information">
              <svg class="slds-icon slds-icon_small slds-icon-text-default" aria-hidden="true">
                <use xlink:href="/Content/icons/utility-sprite/svg/symbols.svg#info"></use>
              </svg>
              <span class="slds-assistive-text">information</span>
            </span>
          </div>
          <div class="slds-media__body">
            <p>There is no contacts created for this account.
              <a href="/Accounts/CreateContact/@Id">Create one</a>
            </p>
          </div>
        </div>
        <br />
        <h2 class="slds-card__header-title">Order list</h2>
        <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered" aria-label="Account list">
            <thead>
                <tr class="slds-line-height_reset">
                  <th class="" scope="col">
                    <div class="slds-truncate" title="Date">Date</div>
                  </th>
                  <th class="" scope="col">
                    <div class="slds-truncate" title="Total">Total</div>
                  </th>
                  <th class="slds-cell_action-mode" scope="col" style="width:3.25rem">
                    <div class="slds-truncate slds-assistive-text" title="Actions">Actions</div>
                  </th>
                </tr>
            </thead>
            <tbody id="orders-table">
            </tbody>
        </table>
        <div class="slds-scoped-notification slds-media slds-media_center slds-scoped-notification_light " role="status" id="order-notification">
          <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-utility-info" title="information">
              <svg class="slds-icon slds-icon_small slds-icon-text-default" aria-hidden="true">
                <use xlink:href="/Content/icons/utility-sprite/svg/symbols.svg#info"></use>
              </svg>
              <span class="slds-assistive-text">information</span>
            </span>
          </div>
          <div class="slds-media__body">
            <p>There is no orders created for this account.
              <a href="/Orders/Create/@Id">Create one</a>
            </p>
          </div>
        </div>
    </div>
</div>

<div class="slds-docked-form-footer">
  <button type="button" class="slds-button slds-button_neutral" onclick="document.location.href = '/Accounts'">Cancel</button>
  <button type="button" class="slds-button slds-button_brand" onclick="save()">Save</button>
</div>

@section Scripts {
 <script>
     var validations = [];
    const save = () => {
        if (isValid()) {
            $.ajax({
                type: "PUT",
                url: "/api/Account/" + @Id,
                data: JSON.stringify({
                    name: $("#account-name").val(),
                    phone: $("#account-phone").val(),
                    street: $("#account-street").val(),
                    city: $("#account-city").val(),
                    state: $("#account-state").val(),
                    zip: $("#account-zip").val()
                }),
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    alert("Account updated");
                    document.location.pathname = "/Accounts";
                },
                error: function(error) {
                    alert(error && error.responseJSON ? error.responseJSON : "Error: Try again");
                    event.stopPropagation();
                },
                dataType: 'json'
            });
        }
    }
    $(document).ready(function() {
        $.get("/api/Account/" + @Id, function(data) {
            if (data) {
                $("#account-name").val(data.name.trim());
                $("#account-phone").val(data.phone.trim());
                $("#account-street").val(data.street.trim());
                $("#account-city").val(data.city.trim());
                $("#account-state").val(data.state.trim());
                $("#account-zip").val(data.zip.trim());
                if (data.contact) {
                    if (data.contact.length > 0)
                        $('#contact-notification').addClass('hidden');
                    for (i = 0; i < data.contact.length; i++) {
                        $("#contacts-table").append(
                            '<tr id="contact-' + data.contact[i].contactId + '" class="slds-hint-parent">' +
                            '<th data-label="Name" scope="row">' +
                            '<div class="slds-truncate" title="' + data.contact[i].name + '">' +
                            '<a href="/Accounts/EditContact/' + data.contact[i].contactId + '" tabindex="-1">' + data.contact[i].name + '</a>' +
                            '</div>' +
                            '</th>' +
                            '<td data-label="Phone">' +
                            '<div class="slds-truncate" title="' + data.contact[i].phone + '">' + data.contact[i].phone + '</div>' +
                            '</td>' +
                            '<td class="slds-cell_action-mode" role="gridcell">' +
                            '<button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" aria-haspopup="true" tabindex="0" title="Delete" onclick="deleteRecord(' + data.contact[i].contactId + ')">' +
                            '<svg class="slds-button__icon slds-button__icon_hint slds-button__icon_small" aria-hidden="true">' +
                            '<use xlink:href="/Content/icons/utility-sprite/svg/symbols.svg#delete"></use>' +
                            '</svg>' +
                            '<span class="slds-assistive-text">Delete</span>' +
                            '</button>' +
                            '</td>' +
                            '</tr>');
                    }
                }
            }
        });
        $.get("/api/Account/" + @Id + '/Orders', function(data) {
            if (data.length > 0)
                $('#order-notification').addClass('hidden');
            if (data) {
                for (i = 0; i < data.length; i++) {
                    $("#orders-table").append(
                        '<tr id="order-' + data[i].orderId + '" class="slds-hint-parent">' +
                        '<th data-label="Name" scope="row">' +
                        '<div class="slds-truncate" title="' + new Date(data[i].createdDate).toLocaleDateString() + '">' +
                        '<a href="/Orders/Detail/' + data[i].orderId + '" tabindex="-1">' + new Date(data[i].createdDate).toLocaleDateString() + '</a>' +
                        '</div>' +
                        '</th>' +
                        '<td data-label="Phone">' +
                        '<div class="slds-truncate" title="' + data[i].total + '">' + data[i].total + '</div>' +
                        '</td>' +
                        '<td class="slds-cell_action-mode" role="gridcell">' +
                        '<button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" aria-haspopup="true" tabindex="0" title="Delete" onclick="deleteRecordOrder(' + data[i].orderId + ')">' +
                        '<svg class="slds-button__icon slds-button__icon_hint slds-button__icon_small" aria-hidden="true">' +
                        '<use xlink:href="/Content/icons/utility-sprite/svg/symbols.svg#delete"></use>' +
                        '</svg>' +
                        '<span class="slds-assistive-text">Delete</span>' +
                        '</button>' +
                        '</td>' +
                        '</tr>');
                }
            }
        });
        var inputs = document.getElementsByClassName('slds-input');
        Array.prototype.filter.call(inputs, function(input) { 
            input.addEventListener('blur', function(event) { 
                var id = event.target.id;
                var value = event.target.value;
                console.log($('#'+id).prop('required'));
                var element = $('#' + id + '-form-element');
                if ($('#' + id).prop('required') && (value == '' || value.trim() == '')) {
                    element.addClass('slds-has-error');
                    validations.push({name: id, valid: false});
                } else {
                    element.removeClass('slds-has-error');
                    validations = validations.filter(v=>v.id != id);
                }

            });
        });
    });

    const isValid = () => {
        validations = [];
        var inputs = document.getElementsByClassName('slds-input');
        Array.prototype.filter.call(inputs, function(input) {
            var id = input.id;
            var value = input.value;
            var element = $('#' + id + '-form-element');
            if ($('#' + id).prop('required') && (value == '' || value.trim() == '')) {
                element.addClass('slds-has-error');
                validations.push({ name: id, valid: false });
            } else {
                element.removeClass('slds-has-error');
            }
        });
        return validations.filter(v => !v.valid).length == 0;
    }
    const deleteRecord = (id) => {
        let willDelete = confirm("Are you sure to execute this action?");
        if (willDelete)
            $.ajax({
                url: '/api/Account/' + id + '/Contact',
                type: 'DELETE',
                success: function(result) {
                    $("#contact-" + id).remove();
                    $.get("/api/Account/" + @Id, function(data) {
                        if (data.contact.length == 0)
                            $('#contact-notification').removeClass('hidden');
                    });
                },
                error: function(error) {
                    alert(error && error.responseJSON ? error.responseJSON : "This Contact can not be deleted");
                }
            });
    }
    const deleteRecordOrder = (id) => {
        let willDelete = confirm("Are you sure to execute this action?");
        if (willDelete)
            $.ajax({
                url: '/api/Order/' + id,
                type: 'DELETE',
                success: function(result) {
                    $("#order-" + id).remove();
                    $.get("/api/Account/" + @Id + '/Orders', function(data) {
                        if (data.length == 0)
                            $('#order-notification').removeClass('hidden');
                    });
                },
                error: function(error) {
                    alert(error && error.responseJSON ? error.responseJSON : "This Order can not be deleted");
                }
            });
    }

</script>
}
