
@{
    ViewData["Title"] = "Account";
    ViewData["PluralTitle"] = "Accounts";
    ViewData["Icon"] = "/Content/icons/standard-sprite/svg/symbols.svg#account";
    ViewData["Description"] = "Account List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section GlobalActions {
    <button class="slds-button slds-button_neutral" onclick="navigate('Create')">New</button>
}

@section SectionIcon {
    <span class="slds-icon_container slds-icon-standard-account" title="Account">
          <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xlink:href="/Content/icons/standard-sprite/svg/symbols.svg#account"></use>
          </svg>
          <span class="slds-assistive-text">Account</span>
    </span>
}

@section Table {
    <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered" aria-label="Account list">
      <thead>
        <tr class="slds-line-height_reset">
          <th class="" scope="col">
            <div class="slds-truncate" title="Name">Name</div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="Phone">Phone</div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="Street">Street</div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="City">City</div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="State">State</div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="Zip">Zip</div>
          </th>
          <th class="slds-cell_action-mode" scope="col" style="width:3.25rem">
            <div class="slds-truncate slds-assistive-text" title="Actions">Actions</div>
          </th>
        </tr>
      </thead>
      <tbody id="accounts-table">
      </tbody>
    </table>
    <div class="slds-scoped-notification slds-media slds-media_center slds-scoped-notification_light " role="status" id="account-notification">
      <div class="slds-media__figure">
        <span class="slds-icon_container slds-icon-utility-info" title="information">
          <svg class="slds-icon slds-icon_small slds-icon-text-default" aria-hidden="true">
            <use xlink:href="/Content/icons/utility-sprite/svg/symbols.svg#info"></use>
          </svg>
          <span class="slds-assistive-text">information</span>
        </span>
      </div>
      <div class="slds-media__body">
        <p>There is no accounts created.
          <a href="/Accounts/Create">Create one</a>
        </p>
      </div>
    </div>
}

@section Scripts {
    <script>    
        const deleteRecord = (id) => {
            let willDelete = confirm("Are you sure to execute this action?");
            if (willDelete)
                $.ajax({
                    url: '/api/Account/' + id,
                    type: 'DELETE',
                    success: function(result) {
                        $("#account-" + id).remove();
                        $.get("/api/Product", function(data) {
                            if (data.length == 0)
                                $('#account-notification').removeClass('hidden');
                        });
                    },
                    error: function(error) {
                        alert(error && error.responseJSON ? error.responseJSON : "This Account can not be deleted");
                    }
                });
        };
        const navigate = (page, id) => {
            document.location.href = "/Accounts/" + page + (id ? ("/" + id) : "");
        }
        $(document).ready(function() {
            $.get("/api/Account", function(data) {
                if (data.length > 0)
                    $('#account-notification').addClass('hidden');
                for (i = 0; i < data.length; i++) { 
                    $("#accounts-table").append(
                        '<tr id="account-' + data[i].accountId + '" class="slds-hint-parent">' +
                          '<th data-label="Name" scope="row">' +
                            '<div class="slds-truncate" title="' + data[i].name + '">' +
                              '<a href="/Accounts/Edit/' + data[i].accountId + '" tabindex="-1">' + data[i].name + '</a>' +
                            '</div>' +
                          '</th>' +
                          '<td data-label="Phone">' +
                            '<div class="slds-truncate" title="' + data[i].phone + '">' + data[i].phone + '</div>' +
                          '</td>' +
                          '<td data-label="Street">' +
                            '<div class="slds-truncate" title="' + data[i].street + '">' + data[i].street + '</div>' +
                          '</td>' +
                          '<td data-label="City">' +
                            '<div class="slds-truncate" title="' + data[i].city + '">' + data[i].city + '</div>' +
                          '</td>' +
                          '<td data-label="State">' +
                            '<div class="slds-truncate" title="' + data[i].state + '">' + data[i].state + '</div>' +
                          '</td>' +
                          '<td data-label="Zip">' +
                            '<div class="slds-truncate" title="' + data[i].zip + '">' + data[i].zip + '</div>' +
                          '</td>' +
                          '<td class="slds-cell_action-mode" role="gridcell">' +
                             '<button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" aria-haspopup="true" tabindex="0" title="Delete" onclick="deleteRecord(' + data[i].accountId + ')">' +
                                '<svg class="slds-button__icon slds-button__icon_hint slds-button__icon_small" aria-hidden="true">' +
                                   '<use xlink:href="/Content/icons/utility-sprite/svg/symbols.svg#delete"></use>' +
                                '</svg>' +
                                '<span class="slds-assistive-text">Delete</span>' +
                             '</button>' +
                          '</td>' +
                        '</tr>');
                }
            });

        });
     </script>
}

