@model SkyPlanner.Entities.Order

@{
    ViewData["Title"] = "Order";
    ViewData["PluralTitle"] = "Orders";
    ViewData["Icon"] = "/Content/icons/standard-sprite/svg/symbols.svg#account";
    ViewData["Description"] = "Order Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int OrderId = ViewBag.OrderId;
}

@section SectionIcon {
    <span class="slds-icon_container slds-icon-standard-orders" title="Order">
          <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xlink:href="/Content/icons/standard-sprite/svg/symbols.svg#orders"></use>
          </svg>
          <span class="slds-assistive-text">Order</span>
    </span>
}

@section Table {
    <div class="slds-card__header slds-grid">
        <div class="slds-form-element slds-size--1-of-2">
          <label class="slds-form-element__label" for="autocomplete-account">Account</label>
          <div class="slds-form-element__control">
            <input type="text" id="autocomplete-account" placeholder="" disabled="" class="slds-input" />
          </div>
        </div>
    </div>
    <div class="slds-card__header slds-grid">
        <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered slds-size--1-of-1" aria-label="Order list">
          <thead>
            <tr class="slds-line-height_reset">
              <th class="" scope="col">
                <div class="slds-truncate" title="Name">Name</div>
              </th>
              <th class="" scope="col">
                <div class="slds-truncate" title="Quantity">Quantity</div>
              </th>
              <th class="" scope="col">
                <div class="slds-truncate" title="Unit Price">Unit Price</div>
              </th>
              <th class="" scope="col">
                <div class="slds-truncate" title="Subtotal">Subtotal</div>
              </th>
            </tr>
          </thead>
          <tbody id="items-table">
          </tbody>
        </table>
    </div>
    <div class="slds-card__header slds-grid">
        <div class="slds-grow slds-size--3-of-4 slds-col-rule--right slds-p-around--large"></div>
        <div class="slds-grow slds-size--1-of-4 slds-col-rule--right slds-p-around--large slds-text-align_right">
            <div class="slds-truncate slds-text-heading_medium" title="Subtotal" id="subtotal-text">Subtotal:</div>
            <br />
            <div class="slds-truncate slds-text-heading_medium" title="Taxes(7%)" id="taxes-text">Taxes(7%):</div>
            <br />
            <div class="slds-truncate slds-text-heading_medium" title="Total" id="total-text">Total:</div>
        </div>
    </div>
    
}

@section Scripts {
 <script>
    var order = null;
    
    $(document).ready(function() {
        $.get("/api/Order/" + @OrderId.ToString(), function(data) {
            order = data;
            if (data) {
                $('#autocomplete-account').val(order.account.name);
                $("#subtotal-text").text('Subtotal: $' + order.subtotal.toString());
                $("#taxes-text").text('Taxes(7%): $' + order.tax.toString());
                $("#total-text").text('Total: $' + order.total.toString());
                for (i = 0; i < order.orderLineItem.length; i++)
                    addProduct(order.orderLineItem[i].productId, order.orderLineItem[i].product.name, order.orderLineItem[i].unitPrice, order.orderLineItem[i].quantity);
            }
        });
    });
    const addProduct = (id, name, price, quantity) => {   
        $("#items-table").append(
            '<tr id="item-' + id + '" class="slds-hint-parent">' +
            '<th data-label="Name" scope="row">' +
            '<div class="slds-truncate" title="' + name + '">' + name + '</div>' +
            '</th>' +
            '<td data-label="Quantity">' +
            '<div class="slds-truncate" title="' + quantity + '">' + quantity + '</div>' +
            '</td>' +
            '<td data-label="Unit Price">' +
            '<div class="slds-truncate" title="' + price + '">' + price + '</div>' +
            '</td>' +
            '<td data-label="Subtotal">' +
            '<div class="slds-truncate" title="' + price + '">' + price * quantity + '</div>' +
            '</td>' +
            '</tr>');
    }
</script>
}
